<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="IBLeier.CustomEntitiesSamples.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" />
      </listeners>
    </trace>
    <sharedListeners>
      <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="D:\Logs\IBLeier.CustomEntitiesSamples.Tests.log" />
    </sharedListeners>
    <!--<listeners>
      <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" />
      <remove name="Default" />
    </listeners>-->
  </system.diagnostics>
  <applicationSettings>
    <IBLeier.CustomEntitiesSamples.Tests.Properties.Settings>
      <setting name="userName" serializeAs="String">
        <value>TestUser</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>test-user</value>
      </setting>
      <setting name="databaseHost" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="databaseName" serializeAs="String">
        <value>ActTestDb</value>
      </setting>
    </IBLeier.CustomEntitiesSamples.Tests.Properties.Settings>
  </applicationSettings>
</configuration>