<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4" />
    <sharedListeners>
      <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="D:\Logs\TextWriterOutput.log" />
    </sharedListeners>
    <!--<listeners>
      <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" />
      --><!--<remove name="Default" />--><!--
    </listeners>-->
  </system.diagnostics>
</configuration>